<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>Cidades</title>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/index-styles.css">

	<script src="https://cdn.jsdelivr.net/angularjs/1.5.5/angular.min.js"></script>
	<script src="js/index-app.js"></script>
</head>
<body>
<div ng-app="myApp" ng-controller="myCtrl" class="angular-main">
	<h1>Cadastro de cidades</h1>
	<div class="panel panel-default">
		<div class="panel-body">
			<label for="city-name"></label><input id="city-name" type="text" ng-model="cityName"
			                                      ng-keypress="processEnter($event)"/>
			<input type="button" value="cadastrar" ng-click="submitCity()">
		</div>
		<div ng-show="errorDisplay" class="alert alert-danger">{{errorString}}</div>
	</div>

	<div class="list-group">
		<a id="cities" class="list-group-item disabled">Cidades</a>
		<a ng-repeat="city in cities" type="button" class="list-group-item"
		   href="detalhes.html?city={{city}}">{{city}}</a>
	</div>
</div>
</body>
</html>