<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>Cidades</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://cdn.jsdelivr.net/angularjs/1.5.5/angular.min.js"></script>
	<style>
		.angular-main {
			width: 350px;
			display: inline-block;
		}

		.alert-danger {
			text-align: center;
			margin-bottom: 0px;
		}

		#cities {
			cursor: default;
		}

		body {
			text-align: center;
		}
	</style>
</head>
<body>
<div ng-app="myApp" ng-controller="myCtrl" class="angular-main">
	<h1>Cadastro de cidades</h1>
	<div class="panel panel-default">
		<div class="panel-body">
			<label for="city-name"></label><input id="city-name" type="text" ng-model="cityName"
			                                      ng-keypress="processEnter($event)"/>
			<input type="button" value="cadastrar" ng-click="submitCity()">
		</div>
		<div ng-show="errorDisplay" class="alert alert-danger">{{errorString}}</div>
	</div>

	<div class="list-group">
		<a id="cities" class="list-group-item disabled">Cidades</a>
		<a ng-repeat="city in cities" type="button" class="list-group-item"
		   href="detalhes.html?city={{city}}">{{city}}</a>
	</div>
</div>

<script>
	//TODO colocar em arquivo separado
	var app = angular.module('myApp', []);
	app.controller('myCtrl', function ($scope, $http) {
		$scope.city = 'Curitiba';
		$scope.errorDisplay = false;
		$http.get('rest/cidades-cadastradas')
				.then(function (response) {
					$scope.cities = response.data;
				});

		$scope.submitCity = function () {
			$http.post('rest/cadastrar-cidade/', $scope.cityName)
					.then(function (response) {
						$scope.errorDisplay = false;
						$scope.cityName = '';
						$scope.cities = response.data;
					}, function (response) {
						$scope.errorDisplay = true;
						$scope.cityName = '';
						if (response.status == 404) {
							$scope.errorString = 'Cidade não encontrada!'
						} else if (response.status == 400) {
							$scope.errorString = 'Nome não preenchido.'
						} else if (response.status == 409) {
							$scope.errorString = 'Cidade já registrada.'
						}
					});
		};

		$scope.processEnter = function ($event) {
			if ($event.keyCode == 13) {
				$scope.submitCity();
			}
		};
	})
</script>
</body>
</html>