.angular-main {
    width: 350px;
    display: inline-block;
}

.alert-danger {
    text-align: center;
    margin-bottom: 0;
}

#cities {
    cursor: default;
}

body {
    text-align: center;
}